/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */
body{
    background-color: rgb(109, 218, 246);
    max-width: 1000px;
    margin:auto;
 
}

.topnav {
    overflow: hidden;
    background-color: #B7B6B6;
    width: 1000px;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 0px;
    text-decoration: none;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    width: 333.3333px;
  }
  
  .topnav a:hover {
    background-color: white;
    color: black;
  }
  
  .topnav a.active {
    background-color: #9F9F9F;
    color: white;
  }
  


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3, p{
    color:rgb(6, 6, 6);
    font-family: 'Montserrat', cursive;
    text-align: center;
}
    
.container{
    background-color: transparent;
    text-align: center;
    margin: 30px 0px 10px 0px;
}   

.container1{
    background-color: transparent;
    text-align: center;
    margin: 10px 0px;
} 

.smallbutton{
    background-color: white;
    border: none;
    padding: 10px 20px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: #B7B6B6;
    border-radius: 5px;
    width: 100px;
    margin: 10px 10px 20px 10px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: background-color 1s ease;
}

.smallbutton:hover{
    background-color: transparent;
    border-color: transparent;
}

.buttoncontainer{
    text-align: center;
    align-items: flex-start;
    display: inline-block;
    width: 1000px;
    background-color: transparent;
    margin: 50px 0px 20px 0px;
} 

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: transparent;
   color: white;
   text-align: center;
}   




    /* hr is just a horizontal line breaking the page up*/
        /* if i wanted to add a box around this text i could use
    padding: 10px 10px 10px 10px; 
    border-style: solid;
    border-width:2px; */