/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppinswght@300&family=Poppins:wght@600");


/* Set the background color for my page: */
body{
    background-color: #081521;
    max-width: 90%;
    margin:auto;

    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s; 
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #081521;
}
::-webkit-scrollbar-thumb {
  background: #FFFFFF;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(155, 155, 155);
}

.bodyText {
  color: white;
  margin-bottom: -22px;
  margin-top: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 21px;
  font-weight: lighter;
  text-align: center;
}

.pagecontainer {
  display: grid;

}

.hcontainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  border: 3px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
}

header {
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: rgb(19, 143, 242);
  font-size: 45px;
  margin-top: 10px;
  font-weight: bold;
}

/* Name and unit code */
h2 {
  color: white;
  font-size: 25px;
  margin-top: -35px;
  font-weight: lighter;
}

h3 {
  color: rgb(255, 40, 0);
  color: rgb(19, 143, 242);
  font-size: 25px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

p{
  color: rgb(251, 251, 251); 
  font-size: 25px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

    

.container1{
    background-color: transparent;
    text-align: center;
    margin: 10px 0px;
} 

.smallbutton{
    background-color: white;
    border: none;
    padding: 10px 20px;
    color: black;
    display:flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: #B7B6B6;
    border-radius: 5px;
    width: 100px;
    margin:auto;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: background-color 1s ease;
}

.smallbutton:hover{
    background-color: transparent;
    border-color: transparent;
}

.buttoncontainer{
    text-align: center;
    align-items: normal;
    display: inline-block;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
} 

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: transparent;
   color: white;
   text-align: center;
}   

:root {
    --border-size: 0.125rem;
    --duration: 250ms;
    --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
    --font-family: monospace;
    --color-text: black;
    --color-primary: white;
    --color-secondary: black;
    --color-tertiary: rgb(17, 143, 242);
    --space: 1rem;
    --border-color: #081521;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .multi-button {
    display: flex;
    width: 100%;
  }
  
  .multi-button button {
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    padding:
      calc(var(--space) / 1.125)
      var(--space)
      var(--space);
    border: var(--border-size) solid var(--border-color);
    color: var(--color-text);
    background-color: var(--color-primary);
    font-size: 1.5rem;
    font-family: var(--font-family);
    text-transform: lowercase;
    transition: flex-grow var(--duration) var(--ease);
  }
  
  .multi-button button + button {
    border-left: var(--border-size) solid var(--border-color);
    margin-left: calc(var(--border-size) * -1);
  }
  
  .multi-button button:hover,
  .multi-button button:focus {
    flex-grow: 2;
    color: white;
    outline: none;
    text-shadow: none;
    background-color: var(--color-secondary);
  }
  
  .multi-button button:focus {
    outline: var(--border-size) solid var(--color-primary);
    outline-offset: calc(var(--border-size) * -3);
  }
  
  .multi-button:hover button:focus:not(:hover) {
    flex-grow: 1;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    outline-color: var(--color-tertiary);
  }
  
  .multi-button button:active {
    transform: translateY(var(--border-size));
  }
  
  /* Page Fade In */
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

/*Mobile Friendly */
@media only screen and (max-width: 450px) {
    body {
      max-width: 98%
    }
    .multi-button button {
      font-size: 1rem;
    }
    .chart {
      min-width: 350px;
      padding: 10px
    }
    .chart:hover {
      border-color: rgb(224, 70, 8);
    }
    .bcontainer {
      border-style: none;
      padding: 1px;
      gap: 10px 10px
    }
  
  
  
  
  
  
  
  }


    /* hr is just a horizontal line breaking the page up*/
        /* if i wanted to add a box around this text i could use
    padding: 10px 10px 10px 10px; 
    border-style: solid;
    border-width:2px; */